.tabla-sufragantes {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #444;
  table-layout: auto;
}

/* Reduce el alto y el padding de las celdas */
.tabla-sufragantes td {
  border: 1px solid #444;
  padding: 2px 4px; /* antes era 6px */
  vertical-align: middle;
  word-wrap: break-word;
  line-height: 1.2; /* compacta el texto */
}

/* Primera columna */
.col-etiqueta {
  text-align: center;
  font-weight: bold;
  background-color: #f5f5f5;
  width: 10%;
  white-space: normal;
}

/* Mat form field reducido */
.form-field-ajustado {
  width: 100% !important;
  min-width: 0 !important;
  box-sizing: border-box;
}

mat-form-field {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1 !important;
  --mat-form-field-container-height: 28px; /* compacta el contenedor */
}


/* Quita margen inferior de los form-field */
.mat-mdc-form-field-infix {
  padding: 0 !important;
}

/* Ajustes responsivos */
@media (max-width: 576px) {
  .tabla-sufragantes td {
    padding: 2px;
  }

  .col-etiqueta {
    width: 45%;
  }
}
mat-card-actions {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center;      /* centra verticalmente (opcional) */
  padding: 8px 0;          /* espacio superior e inferior */
}


.header-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-filter span {
  font-weight: 600;
  margin-bottom: 4px;
}

.filter-field {
  width: 140px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #1976d2 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #0d47a1 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-gap,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-color: #1976d2 !important;
}

.filter-field input {
  font-size: 13px;
  padding: 4px;
}
