<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">{{recinto}}</mat-card-title>

  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">
  <div class="col-12">

    <mat-form-field appearance="outline" class="w-100">
       <mat-label>Seleccione una Junta</mat-label>
            <mat-select placeholder="Seleccione una Junta" [(ngModel)]="junta" (selectionChange)="seleccionarJunta()">
                @for (junta of listaJuntas; track junta) {
                  <mat-option [value]="junta">{{junta.junta}}</mat-option>
                 }
            </mat-select>
      </mat-form-field>
    </div>
    </div>

  <mat-card>

  <mat-card-content class="b-t-1">
<form [formGroup]="actaFormGroup">
        <div class="row">
  <div class="col-12">
    <table class="tabla-sufragantes">
      <tr>
        <td class="col-etiqueta">
          <label for="totalSufragantes">Total de sufragantes</label>
        </td>
        <td>
            <input matInput placeholder="Ingrese total de sufragantes" type="text" style="width: 100%;" formControlName="sufragantes"
            maxlength="3" (keypress)="onlyNumbers($event)"
                  pattern="[0-9]*" />
        </td>
      </tr>
    </table>
  </div>
</div>
   <div class="col-12 text-center">
    <h3>CONSULTA POPULAR - CASILLERO D</h3>
   </div>


        <div class="row">
  <div class="col-12">
    <table class="tabla-sufragantes">
      <tr>
        <td class="col-etiqueta">
          <label for="totalSufragantes">Blancos</label>
        </td>
        <td>
            <input matInput placeholder="Ingrese votos en blanco" type="text" style="width: 100%;" formControlName="blancos"
            maxlength="3" (keypress)="onlyNumbers($event)"
                  pattern="[0-9]*" />
        </td>
      </tr>
      <tr>
        <td class="col-etiqueta">
          <label for="totalSufragantes">Nulos</label>
        </td>
        <td>
            <input matInput placeholder="Ingrese votos nulos" type="text" style="width: 100%;" formControlName="nulos"
            maxlength="3" (keypress)="onlyNumbers($event)"
                  pattern="[0-9]*" />
        </td>
      </tr>
      <tr>
        <td class="col-etiqueta">
          <label for="totalSufragantes">SI</label>
        </td>
        <td>
            <input matInput placeholder="Ingrese votos SI" type="text" style="width: 100%;"  formControlName="si"
            maxlength="3" (keypress)="onlyNumbers($event)"
                  pattern="[0-9]*" />
        </td>
      </tr>
      <tr>
        <td class="col-etiqueta">
          <label for="totalSufragantes">NO</label>
        </td>
        <td>
            <input matInput placeholder="Ingrese votos NO" type="text" style="width: 100%;" formControlName="no"
            maxlength="3" (keypress)="onlyNumbers($event)"
                  pattern="[0-9]*" />
        </td>
      </tr>
    </table>
  </div>
</div>
</form>
 <mat-card-actions>
      <button mat-raised-button color="primary" (click)="enviarDatosActa()" *ngIf="!activarEnvioImagen">
              <mat-icon>save</mat-icon>
              Enviar Datos</button>
              <button mat-raised-button color="secundary" (click)="enviarDatosActa()" *ngIf="activarEnvioImagen">
              <mat-icon>save</mat-icon>
              Enviar Datos</button>

 </mat-card-actions>


  </mat-card-content>
  </mat-card>

  <mat-card *ngIf="activarEnvioImagen">
    <mat-card-header>
    <mat-card-title class="m-b-0">Ingreso de Imagen</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
<mat-label>Por favor toma una foto legible del acta.</mat-label>
            <br>
            <br>
            <button mat-raised-button color="primary" (click)="openCameraDialog()">
              <mat-icon>photo_camera</mat-icon>
              Cámara</button>
             <br>
             <img *ngIf="actaPhoto" [src]="actaPhoto" alt="Foto Contrato" width="50%"/>

<mat-card-actions>
      <button mat-raised-button color="primary" (click)="enviarImagenActa()">
              <mat-icon>save</mat-icon>
              Enviar Imagen</button>

 </mat-card-actions>
  </mat-card-content>

  </mat-card>

  </mat-card-content>
</mat-card>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
